<div class="container-fluid bg">

  <div class="row align-items-center text-center">
    <div class="col-md-3">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="..\assets\imgs\front-test-logo.svg" class="card-img-top">
      </a>
    </div>

    <div class="col-md-6">
    </div>

    <div class="col-md-3">
      <button class="btn btn-primary btn-logout" type="submit" (click)="logout()">
        Logout
      </button>
      <!-- <a class="nav-link" [routerLink]="['/radio']">Logout</a> -->
    </div>
  </div>

</div>


<!-- <nav class="navbar navbar-expand-md">
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="..\assets\imgs\front-test-logo.svg" class="card-img-top">
  </a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto"></ul>

    <div class="text-center">
      <button class="btn btn-primary btn-logout" type="submit" (click)="logout()">
        Logout
      </button>
    </div> 
  </div>
  
</nav> -->