.navbar, .bg {
    position: absolute; /*isso que faz o background aparecer no meio do header */
}

.btn-logout {
    background-color: transparent !important;
    border-width: 2px;
    border-color: #EAEAEC !important; 
    padding: 8px 35px;
    color: #585859;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 30px;
}

.btn-logout:hover {
    background-color: #EAEAEC !important;
    color: #fff;
}
