/* You can add global styles to this file, and also import other style files */

.jumbotron {
    background: #fff;
    border-radius: 20px;
    padding: 1rem 3rem;
}

/* change global font */
body {
    font-family: 'Mukta';
    font-size: 0.8rem;
    color: #585859;
}

h1 {
    /* margin-top: 7vh;
    margin-bottom: 7vh; */
    margin: 7vh 0;
    font-size: 2rem;
    font-weight: 700;
}

a.btn-link {
    color: #0077C5;
    font-weight: 600;
}

a.footer-link {
    color: #585859;
    font-weight: 600;
}

a.footer-link:hover {
    color: #000;
}

/* closing global font edit */

/* customizing form */
.form-control {
    font-size: 0.8rem;
}

::-webkit-input-placeholder { color: #CAD0DC !important; }
/* closing customizing form */

.btn-roxo {
    background-color: #7626FF !important;
    border-color: #7626FF !important;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 30px;
}