<app-header></app-header>

<div class="container-fluid bg">

    <div class="row align-items-center text-center">
        <div class="col-md-3"></div>

        <div class="col-md-6">

            <img src="..\assets\imgs\front-test.png" class="mx-auto d-block img-logo">

            <h3>Mussum Ipsum, cacilds vidis litro abertis.<br>
                Casamentiss faiz malandris se pirulitá.</h3>

            <button class="btn btn-primary btn-saiba-mais" (click)="saibaMais()">
                Saiba mais
            </button>
        </div>

        <div class="col-md-3"></div>
    </div>

</div>

<app-footer></app-footer>