<app-header></app-header>

<div class="container-fluid bg">

    <div class="row align-items-center text-center">
        <div class="col-md-3"></div>

        <div class="col-md-6">

            <img src="..\assets\imgs\front-test.png" class="mx-auto d-block img-logo">

            <h3>Mussum Ipsum, cacilds vidis litro abertis.<br>
                Casamentiss faiz malandris se pirulitá.</h3>

            <button class="btn btn-primary btn-saiba-mais" (click)="saibaMais()">
                Saiba mais
            </button>
        </div>

        <div class="col-md-3"></div>
    </div>

    <div class="row text-center">
        <div class="container">
            <div class="card-group">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title">Mussum Ipsum cacildis</h2>
                        <img class="mx-auto d-block" src="..\assets\imgs\front-test-logo.png">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="card shadow card-meio">
                    <div class="card-body">
                        <h2 class="card-title">Mussum Ipsum cacildis</h2>
                        <img class="mx-auto d-block" src="..\assets\imgs\front-test-logo.png">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title">Mussum Ipsum cacildis</h2>
                        <img class="mx-auto d-block" src="..\assets\imgs\front-test-logo.png">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>

</div>