<app-header></app-header>

<div class="container-fluid bg">

    <div class="row align-items-center text-center">
        <div class="col-md-3"></div>

        <div class="col-md-6">

            <img src="..\assets\imgs\front-test.png" class="mx-auto d-block img-logo">

            <h3>Mussum Ipsum, cacilds vidis litro abertis.<br>
                Casamentiss faiz malandris se pirulitá.</h3>

            <button class="btn btn-primary btn-saiba-mais" (click)="saibaMais()">
                Saiba mais
            </button>
        </div>

        <div class="col-md-3"></div>
    </div>

    <div class="row text-center">
        <div class="container">
            <div class="card-group">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title">Mussum Ipsum cacildis</h2>
                        <img class="mx-auto d-block" src="..\assets\imgs\front-test-logo.png">
                        <p class="card-text">Delegadis gente finis, bibendum egestas augue arcu ut est interessantiss quisso pudia.</p>
                        <button class="btn btn-primary btn01" type="submit">
                            Saiba mais
                          </button>
                    </div>
                </div>
                <div class="card shadow card-meio">
                    <div class="card-body">
                        <h2 class="card-title">Mussum Ipsum cacildis</h2>
                        <img class="mx-auto d-block" src="..\assets\imgs\front-test-logo.png">
                        <p class="card-text">Mussum Ipsum, cacildis vidis litro abertis. Casamentiss faiz malandris se pirulitá.</p>
                        <button class="btn btn-primary btn02" type="submit">
                            Saiba mais
                          </button>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title">Mussum Ipsum cacildis</h2>
                        <img class="mx-auto d-block" src="..\assets\imgs\front-test-logo.png">
                        <p class="card-text">Receita de bolis, mais bolis eu num gostis copo furadis é disculpa de bebadis.</p>
                        <button class="btn btn-primary btn01" type="submit">
                            Saiba mais
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>

</div>